body {
	font-size: 62.5%;
	color: $text-color;
	background-color: $background-color;
}

.container {
	width: 1000px;
	margin: 0 auto;
	font-size: 1.2em;
}

.hidden {
	display: none;
	visibility: hidden;
}
