header {
	margin: 20px 0;

	.container {
		background-image: url(../images/line.png);
		background-repeat: repeat-x;
		background-size: 1px 90px;
		background-position: 0 130px;
	}

	.logo {
		display: block;
		width: 300px;
		height: 220px;
		margin: 0 auto;
		background-color: $background-color;
		background-image: url(../images/moon.png), url(../images/logo.svg);
		background-repeat: no-repeat, no-repeat;
		background-size: 110px 110px, 250px 90px;
		background-position: top center, bottom center;
	}

	.social {
		float: left;
		margin: 38px 0;
		font-size: 2.4em;

		@include list-horizontal(15px);

		a {
			@include link-color($alt-dark-color, darken($alt-dark-color, 20%));
		}
	}

	.info {
		float: right;
		margin: 47px 0;
		font-size: 1.2em;

		@include list-horizontal(15px);

		a {
			@include link-color(lighten($text-color, 20%), $text-color);
		}
	}

	.menu {
		clear: both;
		display: none;
	}
}
