@font-face {
	font-family: 'the-jolly-moon';
	font-weight: normal;
	font-style: normal;
	src:	url('../fonts/the-jolly-moon.eot?3sdrz1');
	src:	url('../fonts/the-jolly-moon.eot?3sdrz1#iefix') format('embedded-opentype'),
		url('../fonts/the-jolly-moon.ttf?3sdrz1') format('truetype'),
		url('../fonts/the-jolly-moon.woff?3sdrz1') format('woff'),
		url('../fonts/the-jolly-moon.svg?3sdrz1#the-jolly-moon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'the-jolly-moon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.icon-facebook:before {
	content: "\e900";
}
.icon-pinterest:before {
	content: "\e901";
}
.icon-instagram:before {
	content: "\e902";
}
.icon-hellocoton:before {
	content: "\e903";
}
.icon-more:before {
	content: "\e904";
}
.icon-collections:before {
	content: "\e905";
}
.icon-sur-mesure:before {
	content: "\e906";
}
.icon-portraits:before {
	content: "\e907";
}
.icon-la-gazette:before {
	content: "\e908";
}
